<div class="container">
	<div class="category-wrapper">
		<div class="row">
			<%= form_for (@category) do |category| %>
				<%= category.text_field :name %>
				<%= category.submit %>
			<% end %>
		</div>
	</div>
</div>