<div class="container">
	<div class="post-show-wrapper">
		<div class="row">
			<%= attachment_image_tag @post, :post_image, :fill, 150,150,format:"jpeg",fallback:"no_image.jpg",size:"150x150" %>
		</div>
		<div class="row">
			<%= @post.title %>
			<%= @post.name %>
			<%= @post.body %>
		</div>
	</div>
</div>
