/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
	padding:0;
	margin: 0;
	/*display: block; を有効にするとヘッダに文字列が現れたので保留*/
}

.content{
	background-color: #f5f5f5;
	width: 100%;
}
/*ヘッダー*/
header{
    background-color: #000;
    padding-left: 5%;
    height: 60px;
}

.header-menu{
	line-height: 30px;
	text-align: right;
	padding-right: 10%;
	margin-bottom: 0;
}

.header-menu li{
	list-style: none;
	font-size: 20px;
	font-weight: bold;
}

.header-menu li >a {
	color: #fff;
}
/*--Topページ画像--*/
.top-image{
	padding-top: 1%;
  width: 90%;
  height: 500px;
  object-fit: cover;
}

.top-wrapper{
	margin: 0 auto;
}

/*ページネーション*/
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 5px;
    color: #fff;
}

.active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    cursor: default;
    color: #fff;
   }

.pagination li > a:hover{
	color: #fff;
	background-color: #d3d3d3;
}

   /* 表示しているページ番号のデザイン */
.pagination>.active>a {
	color: #fff;
	background-color: #000;
    border-color: #000;
    cursor: default;
}

.pagination>.active>a:hover {
    color: #fff;
    background-color: #000;
    border-color: #a9a9a9;
    cursor: default;
    color: #fff;
}
/*--メイン記事--*/

/*リンクの下線を非表示*/
a {
	text-decoration:none;
}
/*カーソルを乗せたとき非表示*/
a:hover{
	text-decoration: none;
}

.clearfix:after{
	content:"";
	clear:both;
	display: block;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

.flex{
	display: flex;
}

.main-contents{
	width: 70%;
}

.main-box{
	padding: 8px;
	background-color: #fff;
	position: relative;
	margin-bottom: 8px;
}

.list-title{
	background-color: #000;
	color: #fff;
	margin-top: 8px;
	font-size: 20px;
	padding: 12px;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin-bottom: 8px;
	position: relative;
}

.list-title span{
	position: absolute;
	right: 15px;
}

.post-new{
	color: #00ff00;
}

.post-new:hover{
	color: #7fffd4;
}

.post-image{
	float: left;
}

.post-location{
	margin-left: 220px;
	line-height: 30px;
}

.main-title{
	margin-left: 220px;
	padding-bottom: 30px;
}

.post-title{
	/*display: inline-block;*/
	font-weight: bold;
	/*line-height: 40px;*/
	letter-spacing: 0.020em;
	overflow: hidden;
}

.category-name{
	list-style: none;
	position: absolute;
	bottom: 10px;
}

.post-category :hover{
	color: #fff;
}

.category-name li {
	display: inline;
}

.category-link{
	color: #fff;
	background-color: #a9a9a9;
	border-radius: 3px;
	padding: 2px 6px;
}

.post-date{
	font-size: 13px;
}

.post-category{
	font-size: 13px;
}

.post-comment-count{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/*サイド記事*/
.side-contents{
	margin-left: 30px;
	width: 30%;
}

.counter{
	width: 150px;
	height: 25px;
}

.accesscounter{
	margin-bottom: 20px;
}

.main-counter{
	margin-top: 20px;
	margin-left: 30%;
}

.count-title-box{
	margin-top: 8px;
}

.side-title{
	color: #fff;
	background-color: #000;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 12px;
}

.category-select{
	margin-top: 20px;
	width: 100%;
	height: 30px;
}

.location{
	margin-top: 20px;
}

.location-select{
	margin-top: 20px;
	width: 80%;
	height: 30px;
}

.location-submit{
	background-color: #999;
	color: #fff;
}

.ranking-box{
	padding: 8px;
	background-color: #fff;
	margin-top: 8px;
	position: relative;
}

.rank-image{
	float: left;
}

.rank-title{
	font-weight: bold;
	letter-spacing: 0.020em;
    overflow: hidden;
    font-size: 14px;
   /* padding-top: 6%;*/
    margin-left: 170px;
}

/*投稿詳細ページ*/
.show-box {
    background-color: #fff;
    position: relative;
    margin-bottom: 8px;
}

.show-list-title{
	background-color: #000;
	color: #fff;
	margin-top: 8px;
	font-size: 20px;
	padding: 12px;
	font-weight: bold;
	letter-spacing: 0.025em;
}
#mainImage{
	padding-top: 30px;
	text-align: center;
}
.thumb{
	list-style: none;
	text-align: center;
}

.thumb li {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    margin-right:10px;
    margin-top: 10px;
}

.show-image{
	text-align: center;
}

.show-contents{
	width: 100%;
}

.post-show{
	background-color: #fff;
	padding: 0 3%;
	border: solid 1px #000;
}

.postshow-title{
	padding: 2% 3% 0 3%;
}

.post-name{
	padding-bottom: 1%;
	padding-top: 1%;
}

.post-name-title{
	padding-right: 1%;
}

.post-body{
	padding-bottom: 3%;
	font-size: 18px;
}

.category-show-name{
	list-style: none;
	text-align: left;
}

.category-show-name li{
	display: inline-block;
	padding-bottom: 1%;
}

.post-show-date{
	margin-right: 5px;
}

.post-show-category{
	padding: 0 3%;
	font-size: 20px;
}

.post-show-category a{
	color: #fff;
}

/*コメント欄用*/
.comment{
	padding: 0 3%;
	background-color: #fff;
}

.comment-title{
	margin-top: 3%;
	background-color: #000;
	color: #fff;
	width: 100%;
}

.comment-title p{
	margin-bottom: 0;
	font-size: 20px;
	padding: 1% 1% 1% 3%;
	font-weight: bold;
}

.comment-name{
	padding-top: 3%;
	font-weight: bold;
	color: #00008b;
}

.comment-name-input{
	padding-top: 3%;
	font-weight: bold;
}

.comment-name-input p{
	margin-bottom: 1px
}

.comment-body{
	padding-top: 2%;
	padding-bottom: 2%;
	font-weight: bold;
	margin-bottom: 8px;
}

.comment-body p{
	margin-bottom: 1px;
}

.comment-submit{
	text-align: center;
	padding-bottom: 2%;
}

.comment-send{
	width: 50%;
	height: 40px;
	font-size: 18px;
}

.comment-list{
	padding-top: 15px;
	padding-left: 3%;
	background-color: #fff;
}

/*新規投稿*/
.errormesse{
	padding-top: 30px;
	padding-left: 50px;
}

.errormesse p{
	font-size: 20px;
	color: red;
}

.new-post-wrapper{
	position: relative;
	padding: 50px;
}

.postnew h4 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}

#post_category_id{
	width: 20%;
    height: 30px;
    font-size: 16px;
}

.new-locationselect{
	width: 20%;
    height: 30px;
    font-size: 16px;
}

.new-postsubmit{
	padding-top: 30px;
}

.newsubmit{
	width: 30%;
    height: 40px;
    font-size: 18px
}