<div class ="content">
    <div class="inquiry-show-wrapper">
      <div class="inquiry-confirm">
        <h2>お問い合わせありがとうございました</h2>
      </div>
       <main class="inquiry-name">
        <div class="inquiry-confirm">
          <%= link_to 'TOPへ戻る',root_path, class: " btn btn-info confirmsubmit" %>
        </div>
    </main>
  </div>
</div>